p Hi #{name},
p
p Welcome to Cloud Eye monitoring application.
p This mail confirms your password reset request.
p If you have not requested for this reset please reach out to your system administrator immediately.
p This is an auto generated email, please reach out to your system administrator for any queries.
p
p cloud eye monitoring application