p Hi #{name},
p Welcome to Cloud Eye monitoring application.
p To complete signup reset your password using this link
a(href=urlstring) Reset Password
p This is an auto generated email, please reach out to your system administrator for any queries.
p
p cloud eye monitoring application